/*  MIXINS  */

@use './variables' as *;

@mixin box($bg-color: white) {
  background-color: $bg-color;
  border-radius: $radio;
  box-shadow: $sombra;
  padding: 25px;
}

@mixin flex-center($justify: center, $align: center, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin responsive-text($size-mobile, $size-desktop) {
  font-size: $size-desktop;
  @media (max-width: 576px) {
    font-size: $size-mobile;
  }
}
